.line{
  padding: 2px;
  width: 100vw;
  background-color: rgb(77, 77, 77);
  margin-bottom: 10px;
}

.top-main-section{
  display: flex;
  justify-content: space-between;
  margin: 0 20px 80px 20px; 
}
.top-main-right-section{
  display: flex;
}
.top-main-right-section ul{
  display: flex;
  font-family: Recursive, Arial;
  font-size: 27px;
  font-style: italic;
  color: rgb(144, 144, 144);
  list-style: none;
  gap: 47px;
}

.top-main-left-section{
  display: flex;
}
.top-main-left-section img{
  margin-right: 10px;
}

.main-content{
  margin: 0 30px 80px 30px;
  display: grid;
  gap: 40px 70px;
  grid-template-columns: 380px 380px 380px;
}
.card-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 22px;
  color: black;
}
.picture-section img{
  width: 100%;
  margin-bottom: 20px ;
}
.card-title{
  font-size: 19px;
  font-weight: 600;
  margin-bottom: 10px;
}
.card-description{
  margin-bottom: 30px;
  font-size: 16px;
}
.card-footer{
  display: flex;
  gap: 20px;
}

.pagination{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 100px;

}
.pagination a{
  color: white;
  text-decoration: none;
  font-style: italic;
  font-family: Recursive, Arial;
  font-size: 25px;
  color: rgba(144, 144, 144, 1);
  letter-spacing: 0em;
}

.pagination .current-page,
.pagination a:hover{
  color: #FF7575;
}
.pagination .current-page,
.slide-hover:hover{
  border-top: 3px solid #FF7575;
  transition: border-top, 0.05s;
}

.footer-left-section{
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-website-name{
  font-family: "Source Code Pro", Arial;
  font-weight: 600;
  font-size: 30px;
}

.bordered-text{
  font-family: 'Source Code Pro', Arial;
  font-size: 19px;
  background-color: #4699E0;
  border-radius: 5px;
  padding: 5px 8px;
  font-weight: 600;
  letter-spacing: 0%;
}
